/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%);
    /* -4% */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
    /* For animation dark mode */
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*=============== PROFILE ===============*/
.profile {
    position: relative;
    padding-top: 3.5rem;
}

.profile__container {
    row-gap: 2rem;
}

.profile__data {
    display: grid;
    text-align: center;
}

.profile__perfil {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg,
            hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
            hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile__perfil img {
    width: 75px;
}

.profile__border {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
}

.profile__name {
    font-size: var(--h2-font-size);
}

.profile__profession {
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.profile__social {
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}

.profile__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
}

.profile__social-link:hover {
    color: var(--first-color);
}

/*=============== QUICKLINK ===============*/
.quicklink__content {
    margin-bottom: 3rem;
}

.quicklink__title-button {
    margin: 2rem 0 2.5rem;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: 600;
    margin-bottom: -1rem;
}

.quicklink__button {
    margin: 2rem 0 -1rem;
    background-color: var(--text-color-lighten);
    padding: .375rem;
    border-radius: .75rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.quicklink__button:hover {
    transition: .5s;
    background-color: var(--text-color-light);
}

/*=============== FOOTER ===============*/
.footer__copy {
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .quicklink__content {
        width: 370px;
        margin: 3rem auto;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        padding-top: 4rem;
        margin-bottom: -3rem;
    }

    .profile__border {
        width: 135px;
        height: 135px;
        margin-bottom: 1rem;
    }

    .profile__perfil {
        width: 120px;
        height: 120px;
    }

    .profile__perfil img {
        width: 90px;
    }

    .profile__profession {
        margin-bottom: 1.5rem;
    }

    .footer__copy {
        margin: 4.5rem 0 2.5rem;
    }
}